<footer class="footer">
  <a href="http://tosbourn.com/"><img class="logo" src="/images/logo.png" alt="Tosbourn logo"/></a>
  <p><em>Toby Osbourn</em> is a freelance web developer with over a decade's worth of experience making the web a more usable and fun place to be.</p>
  <p>You can follow him on <a href="https://twitter.com/tosbourn">Twitter</a> or check out his <a href="http://tosbourn.com/">website</a>.</p>

  <div class="l-grid">
    <div class="l-grid__item-half">
      <p class="footer__small">Copyright <a href="http://tosbourn.com/">tosbourn ltd</a>.</p>
    </div><!--

    --><div class="l-grid__item-half">
    <ul class="footer-social">
      <li><a href="https://twitter.com/tosbourn"><img src="/images/twitter-icon.svg" alt="tosbourn ltd Twitter"></a></li>
      <li><a href="https://www.linkedin.com/company/19658308/"><img src="/images/linkedin-icon.svg" alt="tosbourn ltd LinkedIn"></a></li>
      <li><a href="https://instagram.com/tosbourn"><img src="/images/instagram-icon.svg" alt="tosbourn ltd Instagram"></a></li>
      <li><a href="mailto:{{ site.email }}"><img src="/images/email-icon.svg" alt="Email tosbourn ltd"></a></li>
    </ul>
    </div>
  </div>
</footer>
