<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learn best practice for making your pages a joy to print." property="og:description" name="twitter:description">
    <meta name="twitter:description" content="Learn best practice for making your pages a joy to print." property="og:description">
    <link rel="icon" href="http://printstylesheets.com/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://printstylesheets.com/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="http://printstylesheets.com">
    <meta content="Print Stylesheets" property="og:site_name">
    <meta content="Print Stylesheets – The Book!" name="twitter:title" property="og:title">
    <meta content="website" property="og:type">
    <meta content="http://printstylesheets.com" property="og:url" name="twitter:url">
    <meta content="http://printstylesheets.com/social_share.png" property="og:image" name="twitter:image">
    <meta property="article:author" content="https://www.facebook.com/tosbourn" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tosbourn">
    <meta name="twitter:creator" content="@tosbourn">
    <title>Print Stylesheets The Book</title>
    <style>
      {% include style.min.css %}
    </style>
  </head>
  <body>
    <h1 class="box">
      <span class="title-main">Print Stylesheets</span>
      <span class="title-subtitle">The Book!</span>
    </h1>
    {{ content }}
    <footer class="box">
      <p>
        Copyright <a href="http://tosbourn.com">tosbourn ltd</a>.
      </p>
      <p>
        <a href="https://twitter.com/tosbourn">Twitter</a>, <a href="https://facebook.com/tosbourn">Facebook</a>, <a href="mailto:toby.osbourn@gmail.com">Email</a>
      </p>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88694504-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
